<div class="page-header">
  <h1>Nepublikované vtipy</h1>
</div>

<table class="table table-striped jokes unpublished-jokes">
  <tbody>
    <% @unpublished_jokes.each do |joke| -%>
      <tr>
        <td>
          <%= render 'form', joke: joke %>
        </td>
      </tr>
    <% end -%>
  </tbody>
</table>

<div class="page-header">
  <h1>Publikované vtipy</h1>
</div>

<table class="table table-striped jokes published-jokes">
  <tbody>
    <% @published_jokes.each do |joke| -%>
      <tr>
        <td>
          <%= render 'form', joke: joke %>
        </td>
      </tr>
    <% end -%>
  </tbody>
</table>
