// Place all the styles related to the jokes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "bootstrap";
@import "bootstrap-responsive";

/* Sticky footer styles */
html,
body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by it's height */
  margin: 0 auto -60px;
}

/* Set the fixed height of the footer here */
#push,
#footer {
  height: 60px;
}
#footer {
  background-color: #F5F5F5;
  border-top: 1px solid #E5E5E5;

  .container .credit {
    margin: 20px 0;
  }
}

/* Lastly, apply responsive CSS fixes as necessary */
@media (max-width: 767px) {
  #footer {
    margin-left: -20px;
    margin-right: -20px;
    padding-left: 20px;
    padding-right: 20px;
  }
}
/* END Sticky footer styles */

.table {
  table-layout: fixed;
}

.field_with_errors {
  input, textarea {
    border: 1px solid red;
  }
}

.togglable-hidden {
  display: none;
}

table.jokes .joke-preview {
  cursor: pointer;
  overflow: hidden;
  white-space: nowrap;
  width: inherit;
}

.button_to {
  display: inline;
  div {
    display: inline;
  }
}

.joke-detail {
  margin-top: 1em;
  margin-left: 1em;
  max-width: 700px;

  .well {
    margin-top: 20px;
    padding: 5px 20px;
  }
}

.comment {
  margin-left: 1em;
}

.inside-form {
  display: inline-block;
  margin-bottom: 0;
  padding: 5px 4px 4px 4px;
}

.label a {
  color: white;
}

.tags {
  padding: 1em 0;
}

.toggle-all {
  margin: 2em 0;
  display: block;
}
