<table class="table table-striped jokes">
  <tbody>
    <% jokes.each do |joke| -%>
      <tr id="<%= dom_id(joke) %>">
        <td>
          <% joke = exhibit(joke) %>
          <%= render 'joke_preview', joke: joke %>
          <div class="togglable-hidden" data-toggle="<%= dom_id(joke) %>">
            <%= render 'joke_detail', joke:joke %>
          </div>
        </td>
      </tr>
    <% end -%>
  </tbody>
</table>
